-
	var nop = 'javascript:void(0)',
		title = __('com.gskse'),
		section = 'home';

	var getSrc = (file => '/upload/' + file),
		getSummary = (text => text.substring(0, Math.min(text.length, 100)) + '...'),
		getHost = (url => {
			var host;

			if (url.indexOf("://") > -1) host = url.split('/')[2];
			else host = url.split('/')[0];

			host = host.split(':')[0];
			host = host.split('?')[0];

			return host;
		}),
		setActive = (cond => cond && 'active');

	var strInt = val => val == null ? '0' : val.toLocaleString('en', { style: 'decimal', minimumFractionDigits: 0, maximumFractionDigits: 0 }),
		strFloat = val => val == null ? '0' : val.toLocaleString('en', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }),
		strPercent = val => (val == null ? '0' : strFloat(val * 100)) + '%';
		strSunshine = val => '$' + (val == null ? '0' : strFloat(val)),
		strDateTime = date => date == null ? '' : date.toLocaleString(locale),
		strDate = date => date == null ? '' : date.toLocaleDateString(locale),
		strTime = date => date == null ? '' : date.toLocaleTimeString(locale);

block var1
block var2
block var3

doctype html

html(lang='en')
	head
		title #{title} &bull; GSKSE

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/style.css') 

	body
		header.navbar.navbar-expand-md.navbar-dark.bg-dark
			a.navbar-brand(href='/') GSKSE
			button.navbar-toggler(data-toggle='collapse', data-target='#navbar-content')
				span.navbar-toggler-icon

			div#navbar-content.collapse.navbar-collapse
				form.form-inline(method='get').py-2.py-md-0.mr-md-2
					input.form-control.form-control-sm.bg-dark.text-light(type='search', placeholder='Symbol...', name='symbol')
				nav.navbar-nav.mr-auto
					a.nav-link(href=url_(), class=setActive(section=='home')) Home
					a.nav-link(href=url_friends(), class=setActive(section=='friends')) Friends
					a.nav-link(href=url_corps(), class=setActive(section=='corps')) Corps
					a.nav-link(href=url_news(), class=setActive(section=='news')) News

				nav.navbar-nav
					div.dropdown
						a.dropdown-toggle.nav-link(href=nop, data-toggle='dropdown')= __('com.locale')
						div.dropdown-menu.dropdown-menu-right
							a.dropdown-item(href=url_locales_locale('en'), class=setActive(locale=='en')) English
							a.dropdown-item(href=url_locales_locale('ja'), class=setActive(locale=='ja')) 日本語
							a.dropdown-item(href=url_locales_locale('zh-hans'), class=setActive(locale=='zh-hans')) 简体中文
							a.dropdown-item(href=url_locales_locale('zh-hant'), class=setActive(locale=='zh-hant')) 正體中文
					if friend
						div.dropdown
							a.dropdown-toggle.nav-link(href=nop, data-toggle='dropdown')
								img.rounded(src=getSrc(friend.avatar), width='20', height='20')
							div.dropdown-menu.dropdown-menu-right
								h6.dropdown-header.py-1= friend.name
								h6.dropdown-header.py-1.font-weight-light= strSunshine(friend.cash)
								div.dropdown-divider
								a.dropdown-item(href=url_corps_register()) Register Corp
								a.dropdown-item(href=url_news_post()) Post News
								div.dropdown-divider
								a.dropdown-item(href=url_friends_logout()) Log out
					else
						a.nav-link(href=url_friends_login()) Log in
	
		block head

		main.container.mt-4
			block main

		footer.mt-4.container
			div.small.py-3.font-weight-light.text-muted © 2017 #{__('com.gskse')}

		script(src='/vendor/jquery-3.2.1.min.js')
		script(src='/vendor/popper.min.js')
		script(src='/vendor/bootstrap.min.js')

		script(src='/vendor/echarts.min.js')

		block foot1
		block foot2
		block foot3
