extends base

include navbar

block main
	+navbar(1)

	div.container.mt-4
		h1.h4 #{corp.name} (#{corp.symbol})
		if corp.is_public
			hr.my-0

			h2.h1.my-0= printFloat(corp.price)
				span.ml-2.small(style='color: #090') +0.71 (+19.22%)

			br
		else
			p.lead Privately held company

		nav.nav.nav-pills.nav-justified.small
			a.nav-link.active(href='/login') Summary
			if corp.is_public
				a.nav-link.active(href='/signup') Chart
			a.nav-link(href='/login') Profile
			a.nav-link(href='/login') Financials
			a.nav-link(href='/login') Holders
			a.nav-link(href='/login') Conversations
		
		div.row.mt-3
			div.col-xl-8
				if corp.is_public
					div.row
						div.col-lg-4
							table.table.table-sm
								tbody
									tr
										td Previous Close
										th.text-right 4.21
									tr
										td Open
										th.text-right 4.44
									tr
										td Bid
										th.text-right 4.21 x 123
									tr
										td Ask
										th.text-right 4.32 x 123
									tr
										td Day's Range
										th.text-right 4.21 - 3.32
									tr
										td 52 Week Range
										th.text-right 4.30 - 3.33
									tr
										td Volume
										th.text-right 310
						div.col-lg-8.red Chart

					br

				div
					ul.list-unstyled
						li.media.mb-3
							img.mr-3.rounded.d-none.d-md-block(src=getUrl(corp.avatar), height='100px')
							div.media-body
								p.small.text-muted.mb-1 PR Newswire • 3 days ago
								h5.mb-1 IberiaBank to acquire Coral Gables-based Gibraltar Private Bank Trust
								p.small The holding company of IberiaBank announced late Thursday that it plans to acquire Coral Gables-based Gibraltar Private Bank & Trust Co. in an all-stock deal worth $223 million.  The deal still needs approval from Gibraltar's shareholders and regulators, but, if approved, it will be the second major acquisition of a South Florida bank by IberiaBank Corp. (IBKC).  In July, the Louisiana company finalized its acquisition of Miami-based Sabadell United Bank for about $1 billion – the largest purchase of a South Florida bank in a decade.

			div.col-xl-4
				div.text-center
					img.rounded(src=getUrl(corp.avatar))

				br

				p= corp.desc