extends base

block var2
	- title = corp.name
	- nav = 'summary'

block content
	if corp.is_public
		div.row
			div.col-lg-4
				table.table.table-sm
					tbody
						tr
							td Previous Close
							th.text-right 4.21
						tr
							td Open
							th.text-right 4.44
						tr
							td Bid
							th.text-right 4.21 x 123
						tr
							td Ask
							th.text-right 4.32 x 123
						tr
							td Day's Range
							th.text-right 4.21 - 3.32
						tr
							td 52 Week Range
							th.text-right 4.30 - 3.33
						tr
							td Volume
							th.text-right 310
			div.col-lg-8.red Chart

		br

	div
		ul.list-unstyled
			for news in newses
				li.media.mb-4
					a(href=url_news_id(news.id))
						img.mr-3.rounded.d-none.d-md-block(src=getSrc(news.hero), height='100px')
					div.media-body
						p.small.text-muted.mb-1 #{getHost(news.source)} &bull; #{news.posted}
						h5.mb-1
							a.text-dark(href=url_news_id(news.id))= news.title
						p.small= getSummary(news.content)
