extends base

block var2
	- title = corp.name
	- nav = 'summary'

block content
	if corp.is_public
		div.row.align-items-center
			div.col-lg-4
				table.table.table-sm.m-0
					tbody
						if quote.closeTick
							tr
								td Previous Close
								th.text-right= strInt(quote.closeTick.price)
						if quote.bid
							tr
								td Bid
								th.text-right #{strFloat(quote.bid.price)} x #{strInt(quote.bid.unfilled)}
						if quote.ask
							tr
								td Ask
								th.text-right #{strFloat(quote.ask.price)} x #{strInt(quote.ask.unfilled)}
						tr
							td Day's Range
							th.text-right #{strFloat(quote.day.low)} - #{strFloat(quote.day.high)}
						tr
							td Day's Volume
							th.text-right= strInt(quote.day.volume)
						tr
							td Week's Range
							th.text-right #{strFloat(quote.week.low)} - #{strFloat(quote.week.high)}
						tr
							td Week's Volume
							th.text-right= strInt(quote.week.volume)
						if quote.closeTick
							tr
								td Net Change
								th.text-right= strSignedInt(quote.lastTick.price - quote.closeTick.price)
			div.col-lg-8.red(style='height: 17rem') Chart

		br

	div
		ul.list-unstyled
			for news in newses
				li.media.mb-4
					a(href=url_news_id(news.id))
						img.mr-3.rounded.d-none.d-md-block(src=getSrc(news.hero), height='100px')
					div.media-body
						p.small.text-muted.mb-1 News &bull; #[a(href=news.source)= getHost(news.source)] &bull; #{strDate(news.posted)}
						h5.mb-1
							a.text-dark(href=url_news_id(news.id))= news.title
						p.small= getSummary(news.content)
