extends base

block var2
	- title = 'Invest ' + corp.symbol
	- nav = 'invest'

block content
	form(method='post', encType='multipart/form-data')
		div.row
			div.col-md-6
				div.form-group
					label Company Symbol
					input.form-control(readonly, type='text', name='symbol', value=corp.symbol)

				div.form-group
					label Locale
					input.form-control(readonly, type='text', value=__('com.locale'))
					input.form-control(hidden, type='text', name='locale', value=locale)

				div.form-group
					label Amount
					div.input-group
						span.input-group-addon $
						input.form-control(required, type='number', name='amount', placeholder='100', min='100')

				button.btn.btn-lg.btn-success.btn-block(type='submit') Invest
				label.text-muted.small You cannot view the financial reports and shareholders until you own a part of the company.

			div.col-md-6
				div.card.bg-light.my-3
					div.card-body
						h2.h5.card-title.font-weight-normal= friend.name
						hr.mt-0

						dl.row.card-text
							dd.col-sm-6 Account Value
							dt.col-sm-6.text-right= strSunshine(friend.value)

							dd.col-sm-6 Buying Power
							dt.col-sm-6.text-right= strSunshine(friend.cash)

							dd.col-sm-6 Cash
							dt.col-sm-6.text-right= strSunshine(friend.cash)