extends base

block var2
	- title = 'Trade ' + corp.symbol
	- nav = 'trade'

block content
	div
		table.table.table-sm.table-dark.table-hover
			thead
				tr
					th.text-center.small Friend
					th.text-center.small Type
					th.text-center.small Bid Size
					th.text-center.small Price
					th.text-center.small Ask Size
					th.text-center.small Fill
					th.text-center.small Estimate
			tbody
				for order in asks
					tr
						td.small.text-center= order.friend.name
						td.small.text-center= order.type
						td.bg-cyan.small
						td.small.text-right= order.type == 'market' ? '--' : strFloat(order.price)
						td.bg-red.small.text-center= strInt(order.unfilled) + ' / ' + strInt(order.quantity)
						td.small.p-0
							div.bg-green(style=`height: 29px; width: ${100.0 * (1 - (order.unfilled / order.quantity))}%`)
						td.small.text-right= strFloat(order.price * order.unfilled)
				for order in bids
					tr
						td.small.text-center= friend.name
						td.small.text-center= order.type
						td.bg-blue.small.text-center= strInt(order.unfilled) + ' / ' + strInt(order.quantity)
						td.small.text-right= order.type == 'market' ? '--' : strFloat(order.price)
						td.bg-pink.small
						td.small.p-0
							div.bg-green(style=`height: 29px; width: ${100.0 * (1 - (order.unfilled / order.quantity))}%`)
						td.small.text-right= strFloat(order.price * order.unfilled)

	div.row
		div.col-md-6
			form(method='post')
				div.form-group
					label Company Symbol
					input.form-control(readonly, type='text', name='symbol', value=corp.symbol)

				div.form-group
					label Locale
					input.form-control(readonly, type='text', value=__('com.locale'))
					input.form-control(hidden, type='text', name='locale', value=locale)

				div.form-group
					label Quantity
					input.form-control(required, type='number', name='quantity')

				div.form-group
					label Transaction
					div.row
						div.col-sm-6
							select(name='action').custom-select.form-control
								option(value='buy') Buy
								option(value='sell') Sell
						div.col-sm-6.pl-0
							select(name='type').custom-select.form-control
								option(value='limit') Limit
								option(value='market') Market

				div.form-group
					label Price
					div.input-group
						span.input-group-addon $
						input.form-control(type='number', name='price', min='0', step='0.01')

				div.form-group
					label Duration
					select(name='duration').custom-select.form-control
							option(value='day') Day
							option(value='gtc') Good Till Canceled
							option(value='ioc') Immediate Or Cancel
							option(value='1m') One Minute
							option(value='3m') Three Minutes
							option(value='5m') Five Minutes

				button.btn.btn-lg.btn-danger.btn-block Submit Order
				label.text-muted.small You cannot view the financial reports and shareholders until you own a part of the company.

		div.col-md-6
			div.card.bg-light.my-3
				div.card-body
					h2.h5.card-title.font-weight-normal= friend.name
					hr.mt-0

					dl.row.card-text
						dd.col-sm-6 Account Value
						dt.col-sm-6.text-right= strSunshine(friend.value)

						dd.col-sm-6 Buying Power
						dt.col-sm-6.text-right= strSunshine(friend.cash)

						dd.col-sm-6 Cash
						dt.col-sm-6.text-right= strSunshine(friend.cash)

			//- div.card.bg-light.my-3
			//- 	div.card-body
			//- 		h2.h5.card-title.font-weight-normal= friend.name
			//- 		hr.mt-0

			//- 		dl.row.card-text
			//- 			dd.col-sm-6 Account Value
			//- 			dt.col-sm-6.text-right= strSunshine(friend.value)

			//- 			dd.col-sm-6 Buying Power
			//- 			dt.col-sm-6.text-right= strSunshine(friend.cash)

			//- 			dd.col-sm-6 Cash
			//- 			dt.col-sm-6.text-right= strSunshine(friend.cash)

