extends base

block main
	a.text-muted(href= news.source)= getHost(news.source)
	h1.h2.m-0= news.title
	p.text-muted= news.posted
	hr.mt-0
	
	img.rounded.float-left.mr-2(src=getSrc(news.hero))
	for para in news.content.split('\n')
		if para.length > 1
			p
				span(style='font-size: 150%; font-family: "times","times new roman"; line-height: 1')= para[0]
				span= para.substring(1)

	hr.mt-0
	a(href=url_corps_symbol(news.corp.symbol)) &larr; Back to #{news.corp.name}